{% if include.name %}
  {% assign name = include.name %}
{% else %}
  {% assign name = "Contact" %}
{% endif %}

{% assign name_id = name | downcase | replace: " ", "-" %}

{% if include.thanks_url %}
  {% assign thanks_url = include.thanks_url %}
{% else %}
  {% assign thanks_url = "/thanks/" %}
{% endif %}

<form class="form  form--{{ name_id }}" method="POST" name="{{ name }}" action="https://formspree.io/mokjwpom"
  {% if include.netlify_form %}
    netlify-honeypot="bot-field"
    netlify
  {% endif %}
>
  <fieldset class="fieldset  form__fieldset">
    <legend class="legend form__legend">{{ name }}</legend>
    <label class="label" for="name--{{ name_id }}">Naam: <span class="required">*</span></label>
    <input class="input" id="name--{{ name_id }}" type="text" name="name" value="" placeholder="Naam" required="required" />

    <label class="label" for="email--{{ name_id }}">Emailadres: <span class="required">*</span></label>
    <input class="input" id="email--{{ name_id }}" type="email" name="email" value="" placeholder="email@website.com" />
    
    <p><label class="label" for="email--{{ name_id }}"><b>Huwelijkssluiting</b> <i>(zie toelichting hieronder)</i></label><br>
    <input type="radio" id="message--{{ name_id }}" name="huwelijkssluiting" value="ik-kom"> Ik kom naar de huwelijkssluiting in de Waalse Kerk<br>
  	<input type="radio" id="message--{{ name_id }}" name="huwelijkssluiting" value="wij-komen"> Wij komen met z’n tweeën naar de huwelijkssluiting in de Waalse Kerk</p>
  	
  	<p><label class="label" for="email--{{ name_id }}"><b>Receptie</b></label><br>
    <input type="radio" id="message--{{ name_id }}" name="receptie" value="ik-kom"> Ik kom naar de receptie op Landgoed Nuwenhuys<br>
  	<input type="radio" id="message--{{ name_id }}" name="receptie" value="wij-komen"> Wij komen met z’n tweeën naar de receptie op Landgoed Nuwenhuys</p>

  	<p><label class="label" for="email--{{ name_id }}"><b>Diner/dansant</b> <i>(indien daarvoor apart uitgenodigd)</i></label><br>
    <input type="radio" id="message--{{ name_id }}" name="diner" value="ik-kom"> Ik kom naar het diner/dansant op Landgoed Nuwenhuys vanaf 19.00 uur<br>
  	<input type="radio" id="message--{{ name_id }}" name="diner" value="wij-komen"> Wij komen naar het diner/dansant op Landgoed Nuwenhuys vanaf 19.00 uur</p>

    <label class="label" for="message--{{ name_id }}">Bericht (optioneel):</label>
    <textarea class="textarea" id="message--{{ name_id }}" name="bericht" placeholder="Bericht..."></textarea>

    <input class="button" type="submit" value="Versturen" /> <input class="button" type="reset" value="Reset" />
    <br/>
    <small class="small"><span class="required">*</span> Verplicht</small>

    {% if include.netlify_form %}
      <label  style="display:none">Don’t fill this out if you’re human: <input name="bot-field" /></label>
    {% else %}
      <input type="text" name="_gotcha" style="display:none">
      <input type="hidden" name="_subject" value="{{ site.title }} submission from {{ name }}">
      <input type="hidden" name="_next" value="{{ thanks_url }}" />
    {% endif %}
  </fieldset>
</form>
{% unless include.netlify_form %}
  <script>
    var email = "{{ site.email | split: "" | reverse | join: "" }}";
    var unraveledEmail = email.split("").reverse().join("");
    var form = document.querySelector(".form--{{ name_id }}");
      form.setAttribute("action", "https://formspree.io/" + unraveledEmail);
  </script>
  <noscript>Please enable JavaScript to use the form.</noscript>
{% endunless %}
